{% extends 'layout.twig' %}

{% block content %}

  <h1>Twig renderer <small>How to</small></h1>
  <hr>

  <div ng-app="mainModule">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Table of contents</h3>
      </div>
      <div class="panel-body">
        <ul content-table=".content-panel"></ul>
      </div>
    </div>

    <div class="panel panel-default content-panel" id="createPage">
      <div class="panel-heading">
        Create a page
      </div>
      <div class="panel-body">
        
      </div>
    </div>

    <div class="panel panel-default content-panel" id="createModule">
      <div class="panel-heading">
        Add new module
      </div>
      <div class="panel-body">
        
      </div>
    </div>

    <div class="panel panel-default content-panel" id="createScript">
      <div class="panel-heading">
        Add new script
      </div>
      <div class="panel-body">
        
      </div>
    </div>

    <div class="panel panel-default content-panel" id="createStyle">
      <div class="panel-heading">
        Add new stylesheet <small>(less)</small>
      </div>
      <div class="panel-body">
        
      </div>
    </div>
  </div>  
{% endblock %}

{% block js %}
    <!-- inject:js -->
    <script src="/javascripts/index.js"></script>
    <!-- endinject -->
{% endblock %}